
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />

<div class="container">
    <div class="home-button">
        <a href="@Url.Action("Login", "Login")">
            <img src="~/Content/images/back.png" alt="Back" />
        </a>
    </div>
    <h2>Quên Mật Khẩu</h2>
    @if (!string.IsNullOrEmpty(ViewBag.error))
    {
        <div class="error-message">
            @ViewBag.error
        </div>
    }
    <form method="post" action="@Url.Action("ForgetPassword", "Login")">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <button type="submit">Gửi</button>
    </form>
</div>
