
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />

<div class="container">
    <div class="home-button">
        <a href="@Url.Action("Login", "Login")">
            <img src="~/Content/images/back.png" alt="Back" />
        </a>
    </div>
    <h2>Đặt Lại Mật Khẩu</h2>
    @if (!string.IsNullOrEmpty(ViewBag.error))
    {
        <div class="error-message">
            @ViewBag.error
        </div>
    }
    <form method="post" action="@Url.Action("ResetPassword", "Login")">
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" id="newPassword" name="newPassword" required />

            <label for="confirmPassword">Xác nhận mật khẩu:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required />

            <button type="submit">Lưu Mật Khẩu</button>
    </form>
</div>

